
/node_modules
cache/validations.json
/.idea
.env

.DS_STORE
build/
node_modules/
.vscode

#Hardhat files
cache
artifacts
yarn.lock
.deps
.openzeppelin/

node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

